---
import { ButtonTheme } from '@typests/*'

import Layout from '@layout/Layout.astro'

import Button from '@components/Button.astro'
import TitleContent from '@components/TitleContent.astro'
import Section from '@layout/Section.astro'
---

<Layout title='Electric Cars, Solar & Clean Energy | Tesla'>
  <div class='relative w-full h-screen overflow-auto snap-y snap-mandatory'>
    <div class='snap-start'>
      <Section>
        <div class='mt-3vh' slot='section-header'>
          <TitleContent>Model Y</TitleContent>

          <h3 class='mt-1 text-3xl leading-9 font-medium font-display'>
            <a class='block w-fit mx-auto shadow-link hover:shadow-link-hover transition-shadow duration-330 ease-bezier' href='/'>$0 Due at Signing</a>
          </h3>
          <p class='mt-1 font-sans'>
            <span class="pb-1">
              <span class='font-medium text-lg leading-tight'>From $31,490</span><sub class='text-[8px] -top-2 font-normal'>1</sub>
            </span>
          </p>
        </div>

        <div class="flex items-center justify-center gap-x-5" slot='section-footer'>
					<Button btnText='Demo Drive' theme={ButtonTheme.BLUE} />
					<Button btnText='Order Now' theme={ButtonTheme.LIGTH} />
        </div>

        <picture slot='section-bakground' class='h-screen'>
          <img class='size-full object-cover object-center' src='/img/homepage-model-y-desktop-us.avif' alt='' />
        </picture>
      </Section>
    </div>

    <div class='snap-start'>
      <Section>
        <div class='mt-3vh' slot='section-header'>
          <TitleContent>Model 3</TitleContent>

          <h3 class='mt-1 text-3xl leading-9 font-medium font-display'>
            <a class='block w-fit mx-auto shadow-link hover:shadow-link-hover transition-shadow duration-330 ease-bezier' href='/'>$0 Due at Signing</a>
          </h3>
          <p class='mt-1 font-sans'>
            <span class="pb-1">
              <span class='font-medium text-lg leading-tight'>From $34,990</span><sub class='text-[8px] -top-2 font-normal'>1</sub>
            </span>
          </p>
        </div>

        <div class="flex items-center justify-center gap-x-5" slot='section-footer'>
					<Button btnText='Demo Drive' theme={ButtonTheme.BLUE} />
					<Button btnText='Order Now' theme={ButtonTheme.LIGTH} />
        </div>

        <picture slot='section-bakground' class='h-screen'>
          <img class='size-full object-cover object-center' src='/img/homepage-model-3-desktop-us.avif' alt='' />
        </picture>
      </Section>
    </div>
  </div>
</Layout>
