---
import Layout from "@layout/Layout.astro";
import HeroSection from "@components/HeroSection.astro";
import ContentSection from "@components/ContentSection.astro";
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
	<div class="relative w-full h-screen overflow-auto snap-y snap-mandatory">
		<div class="snap-start">
			<HeroSection />
		</div>

		<div class="snap-start">
			<ContentSection />
		</div>
	</div>
</Layout>
