<section class="section-content relative" data-header-color="black">
  <article class="w-full h-screen text-center">
    <div
      class="relative flex flex-col items-center justify-center h-full text-white z-20"
    >
      <header class="w-full">
        <h2
          class="mt-[18vh] px-5 text-4xl lg:text-[40px] font-medium text-current"
        >
          Experience Tesla
        </h2>

        <div class="px-5 py-2">
          <p class="text-current">Schedule a Demo Drive Today</p>
        </div>
      </header>

      <footer class="flex flex-col flex-grow justify-end w-full pb-20">
        <div class="flex items-center justify-center gap-x-5">
          <a
            class="inline-flex items-center justify-center min-w-[264px] h-[40px] px-6 py-1 border-[2.4px] border-white rounded text-sm leading-4 text-current"
            href="#"
          >
            <span class="text-current">Explore Inventory</span>
          </a>

          <a
            class="inline-flex items-center justify-center min-w-[264px] h-[40px] px-6 py-1 border-[2.4px] border-white rounded text-sm leading-4 text-current"
            href="#"
          >
            <span class="text-current">Custom Order</span>
          </a>
        </div>
      </footer>
    </div>

    <div class="absolute inset-0 z-0">
      <img
        class="w-full h-full object-cover object-center"
        src="/homepage-model-3-desktop.avif"
        alt=""
      />
    </div>
  </article>
</section>
