---
import Tesla from "./icons/Tesla.astro";
import MenuItems from "./MenuItems.astro";

const menuModels = [
  {
    id: 1,
    link: "#",
    name: "model_s",
    label: "Model S",
  },
  {
    id: 2,
    link: "#",
    name: "model_3",
    label: "Model 3",
  },
  {
    id: 3,
    link: "#",
    name: "model_x",
    label: "Model X",
  },
  {
    id: 4,
    link: "#",
    name: "model_y",
    label: "Model Y",
  },
  {
    id: 5,
    link: "#",
    name: "solar_roof",
    label: "Solar Roof",
  },
  {
    id: 6,
    link: "#",
    name: "solar_panels",
    label: "Solar Panels",
  },
  {
    id: 7,
    link: "#",
    name: "powerwall",
    label: "Powerwall",
  },
];

const menuOptions = [
  {
    id: 101,
    link: "#",
    name: "shop",
    label: "Shop",
  },
  {
    id: 102,
    link: "#",
    name: "account",
    label: "Account",
  },
  {
    id: 103,
    link: "#",
    name: "menu",
    label: "Menu",
  },
];
---

<header class="fixed top-0 left-0 right-0 z-50">
  <div class="flex items-center justify-between">
    <div
      class="flex flex-grow items-center justify-start min-w-[120px] min-h-[56px] pl-8"
    >
      <a href="#" class="flex w-[120px] h-6">
        <Tesla />
      </a>
    </div>

    <nav
      class="flex flex-grow basis-0 items-center justify-center min-h-[56px]"
    >
      <ol class="flex items-center justify-center">
        <MenuItems menuItems={menuModels} />
      </ol>
    </nav>

    <nav class="flex flex-grow items-center justify-end min-h-[56px] pr-8">
      <ol class="flex items-center justify-end">
        <MenuItems menuItems={menuOptions} />
      </ol>
    </nav>
  </div>
</header>
