<section class="section-content relative" data-header-color="white">
  <article class="w-full h-screen text-center">
    <div
      class="relative flex flex-col items-center justify-center h-full text-white z-20"
    >
      <header class="w-full">
        <h2
          class="mt-[18vh] px-5 text-4xl lg:text-[40px] font-medium text-current"
        >
          Experience Tesla
        </h2>

        <div class="px-5 py-2">
          <p class="text-current">Schedule a Demo Drive Today</p>
        </div>
      </header>

      <footer class="flex flex-col flex-grow justify-end pb-20">
        <a
          class="inline-flex items-center justify-center min-w-[264px] h-[40px] px-6 py-1 border-[2.4px] border-white rounded text-sm leading-4 text-current"
          href="#"
        >
          <span class="text-current">Demo driver</span>
        </a>
      </footer>
    </div>

    <div class="absolute inset-0 z-0">
      <video
        class="w-full h-full object-center object-cover"
        autoplay
        muted
        loop
        src="/homepage-video.webm"></video>
    </div>
  </article>
</section>
