---
import { ButtonTheme } from "@typests/*";

import Section from "@layout/Section.astro";
import Button from "./Button.astro";
import TitleContent from "./TitleContent.astro";
---

<Section sectionColor="white">
  <div slot="section-header">
    <TitleContent>Experience Tesla</TitleContent>

    <div class="px-5 py-2">
      <p class="text-current">Schedule a Demo Drive Today</p>
    </div>
  </div>

  <div slot="section-footer">
    <Button btnText="Demo driver" theme={ButtonTheme.TRANSPARENT} />
  </div>

  <div slot="section-bakground">
    <video
      class="w-full h-full object-center object-cover"
      autoplay
      muted
      loop
      src="/homepage-video.webm"></video>
  </div>
</Section>
