---
import { SectionTheme } from "@typests/*";

import Section from "@layout/Section.astro";

interface Props {
  imageFile: string;
  themeColor?: SectionTheme;
}

const { imageFile, themeColor = SectionTheme.WHITE } = Astro.props;
---

<Section sectionColor={themeColor}>
  <div slot="section-header">
    <slot name="information" />
  </div>

  <div slot="section-footer">
    <slot name="call-to-action" />
  </div>

  <div class="w-full h-full" slot="section-bakground">
    <img
      class="w-full h-full object-cover object-center"
      src={imageFile}
      alt=""
    />
  </div>
</Section>
