---
import Main from "@layout/Main.astro";
import Header from "@components/Header.astro";

import "@css/styles.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />

    <Main>
      <slot />
    </Main>
  </body>

  <style is:global></style>
</html>
