---

---

<section class='section-content relative max-h-svh overflow-hidden text-white'>
  <article class='w-full h-screen grid z-1'>
    <div class='col-span-full row-span-full z-2'>
      <slot name='section-bakground' />
    </div>

    <div class=`col-span-full row-span-full relative flex flex-col items-center justify-center h-full z-3`>
      <header class='w-full px-6 text-current text-center'>
        <slot name='section-header' />
      </header>

      <footer class='w-full flex flex-col flex-grow justify-end pb-6'>
        <slot name='section-footer' />
      </footer>
    </div>
  </article>
</section>
